<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="ca.ubc.cs.testcaseview10">
      </category>
      <view
            icon="icons/sample.gif"
            category="ca.ubc.cs.testcaseview10"
            class="ca.ubc.cs.testcaseview10.SelectionView"
            id="ca.ubc.cs.testcaseview10.SelectionView"
            name="Workbench Selection">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
      </perspectiveExtension>
   </extension>
   	<extension
      id="ca.ubc.cs.testcaseview10.SampleMarker"
      name="ca.ubc.cs.testcaseview10.SampleMarker"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.core.resources.textmarker">
   </super>
   </extension>
      	<extension
      id="ca.ubc.cs.testcaseview10.SampleMarker10"
      name="ca.ubc.cs.testcaseview10.SampleMarker10"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.core.resources.textmarker">
   </super>
   </extension>
   <extension
      id="ca.ubc.cs.testcaseview10.SampleMarker2"
      name="ca.ubc.cs.testcaseview10.SampleMarker2"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.core.resources.textmarker">
   </super>
</extension>
   	<extension
      id="ca.ubc.cs.testcaseview10.SampleMarker20"
      name="ca.ubc.cs.testcaseview10.SampleMarker20"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.core.resources.textmarker">
   </super>
   </extension>
<extension
      point="org.eclipse.ui.editors.annotationTypes">
   <type
         markerType="ca.ubc.cs.testcaseview10.SampleMarker"
         super="org.eclipse.ui.workbench.texteditor.info"
         name="ca.ubc.cs.testcaseview10.SampleMarker">
   </type>
   <type
         markerType="ca.ubc.cs.testcaseview10.SampleMarker10"
         super="org.eclipse.ui.workbench.texteditor.info"
         name="ca.ubc.cs.testcaseview10.SampleMarker10">
   </type>
      <type
         markerType="ca.ubc.cs.testcaseview10.SampleMarker2"
         super="org.eclipse.ui.workbench.texteditor.info"
         name="ca.ubc.cs.testcaseview10.SampleMarker2">
   </type> 
      <type
         markerType="ca.ubc.cs.testcaseview10.SampleMarker20"
         super="org.eclipse.ui.workbench.texteditor.info"
         name="ca.ubc.cs.testcaseview10.SampleMarker20">
   </type> 

</extension>
<extension
      point="org.eclipse.ui.editors.markerAnnotationSpecification">
   <specification
         annotationType="ca.ubc.cs.testcaseview10.SampleMarker"
         colorPreferenceKey="AssertOne_Samplecolor"
         colorPreferenceValue="255,255,0"
         contributesToHeader="false"
         highlightPreferenceKey="assertone_highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"             
         overviewRulerPreferenceKey="Sampleruler"
         overviewRulerPreferenceValue="true"
         textPreferenceKey="cltext"
         textPreferenceValue="true"
         presentationLayer="0"
         label="Sample Marker"
         verticalRulerPreferenceKey="clvertical"
         verticalRulerPreferenceValue="true"
         textStylePreferenceKey="clstyle"
         textStylePreferenceValue="BOX">
   </specification>
      <specification
         annotationType="ca.ubc.cs.testcaseview10.SampleMarker10"
         colorPreferenceKey="AssertMany_Samplecolor"
         colorPreferenceValue="255,255,200"
         contributesToHeader="false"
         highlightPreferenceKey="assertmany_highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"             
         overviewRulerPreferenceKey="Sampleruler"
         overviewRulerPreferenceValue="true"
         textPreferenceKey="cltext"
         textPreferenceValue="true"
         presentationLayer="0"
         label="Sample Marker10"
         verticalRulerPreferenceKey="clvertical"
         verticalRulerPreferenceValue="true"
         textStylePreferenceKey="clstyle"
         textStylePreferenceValue="BOX">
   </specification>
      <specification
         annotationType="ca.ubc.cs.testcaseview10.SampleMarker2"
         colorPreferenceKey="Invocation_Samplecolor2"
         colorPreferenceValue="0,255,0"
         contributesToHeader="false"
         highlightPreferenceKey="invocationOne_highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"             
         overviewRulerPreferenceKey="Sampleruler2"
         overviewRulerPreferenceValue="true"
         textPreferenceKey="cltext2"
         textPreferenceValue="true"
         presentationLayer="1"
         label="Sample Marker2"
         verticalRulerPreferenceKey="clvertical2"
         verticalRulerPreferenceValue="true"
         textStylePreferenceKey="clstyle2"
         textStylePreferenceValue="BOX">
   </specification>
      <specification
         annotationType="ca.ubc.cs.testcaseview10.SampleMarker20"
         colorPreferenceKey="InvocationMany_Samplecolor20"
         colorPreferenceValue="200,255,200"
         contributesToHeader="false"
         highlightPreferenceKey="invocation_highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"             
         overviewRulerPreferenceKey="Sampleruler2"
         overviewRulerPreferenceValue="true"
         textPreferenceKey="cltext2"
         textPreferenceValue="true"
         presentationLayer="1"
         label="Sample Marker20"
         verticalRulerPreferenceKey="clvertical2"
         verticalRulerPreferenceValue="true"
         textStylePreferenceKey="clstyle2"
         textStylePreferenceValue="BOX">
   </specification>

</extension>
<extension point="org.eclipse.ui.editors.markerUpdaters"> 
         <updater
              id="ca.ubc.cs.testcaseview10.marker.MarkerUpdater"
              class="ca.ubc.cs.testcaseview10.marker.MarkerUpdater"
              markerType="ca.ubc.cs.testcaseview10.SampleMarker">
         </updater>
</extension> 
</plugin>
