<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="ca.ubc.cs.testcaseview10">
      </category>
      <view
            icon="icons/sample.gif"
            category="ca.ubc.cs.testcaseview10"
            class="ca.ubc.cs.testcaseview10.SelectionView"
            id="ca.ubc.cs.testcaseview10.SelectionView"
            name="Workbench Selection">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
      </perspectiveExtension>
   </extension>
   	<extension
      id="SampleMarker"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.core.resources.textmarker">
   </super>
   <persistent
         value="true">
   </persistent>
</extension>
<extension
      point="org.eclipse.ui.editors.markerAnnotationSpecification">
   <specification
         annotationType="sample.baseMarkerAnnotation"
         icon="icons/sample.gif"
         overviewRulerPreferenceValue="false">
   </specification>
</extension>
<extension
      point="org.eclipse.ui.editors.annotationTypes">
   <type
         markerType="ca.ubc.cs.testcaseview10.SampleMarker"
         super="org.eclipse.ui.workbench.texteditor.warning"
         name="sample.baseMarkerAnnotation">
   </type>
</extension>
</plugin>
